<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="orangehrm.qa.listeners.ExtentReportListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="orangehrm.qa.testScripts.loginPageTest" />
			<class name="orangehrm.qa.testScripts.AssignLeaveTest" />
			<class name="orangehrm.qa.testScripts.dashBoardTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->